@use './style.scss';

.navBarContainer{
    width: 100%;
    max-width: 100vw;
    position: fixed;
    z-index: 3;
}
.navTop{
    background-color: #B50014;
    width: 100%;
    height: 93px;
    display: flex;
    justify-content: center;
}
.navTopContainer{
    display: flex;
    width: style.$middleWidth;
    justify-content: space-between;
}
.imgLogo{
    height: 172.2px;
    cursor: pointer;
    z-index: 100;
}
.spin{
    animation: spinning 2s;
}

@keyframes spinning {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.navOptions{
    display: flex;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    text-align: left;
    gap: 25px;
    height: 93px;
    align-items: center;
}
.navOption{
    cursor: pointer;
}
.downloadOption{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.navBottom{
    background-color: style.$brandSecondary;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.navBottomContainer{
    display: flex;
    justify-content: right;
    width: style.$middleWidth;
    text-align: right;
    align-items: center;
}
.OpentimeSpan{
    font-weight: bold;
    margin-right: 10px;
    margin-left: 5px;
}
.mobiltext{
    display: none;
}
.mobilTextTop{
    font-size: 10px;
    font-weight: 700;
    line-height: 11.72px;
}
.mobilTextBottom{
    font-size: 10px;
    font-weight: 400;
    line-height: 11.72px;
}

.hamburgerIcon{
    position: fixed;
    top: 12px;
    right: 40px;
    z-index: 25;
    display: none;
}
.SBAHamburgerIcon{
    display: block;
}


.sideBar{
    position: fixed;
    width: 300px;
    right: -300px;
    height: 100vh;
    background: style.$brandPrimary;
    z-index: 10;
    overflow: auto;
    transition: 0.5s;
}
.sideBarActive {
    right: 0px;
}
.sideBarOptions{
    width: 200px;
    margin-left: 40px;
    margin-top: 70px;
}
.sideBarOption{
    margin-top: 30px;
    text-align: left;
    font-size: 22px;
    font-weight: 700;
    line-height: 44.53px;
}



@media only screen and (max-width: 1200px) {
    .navTop{
       height: 75px;
    }       
    .navOptions{
        height: 75px;
    }
    
    .navBottom{
        height: 35px;
     }  
     .imgLogo{
        height: 96px;
     }
     .navOption{
        display: none;
     }
     .downloadOption{
        display: flex;
        margin-right: 120px;
        cursor: pointer;
     }
     .navBottomContainer{
        margin-right: 50px;
     }
     .hamburgerIcon{
        display: block;
     }
}


@media only screen and (max-width: 730px) {
    .mobiltext{
        display: flex;
        flex-direction: column;
     }
     .clockVector{
        display: none;
     }
     .DisapearOnMobile{
        display: none;
     }
}
